html {
  font-family: "Roboto", sans-serif;
}

.body {
  display: grid;
  grid-template-columns: 10% 90%;
}

.address {
  text-align: center;
}
.address button {
  padding: 5px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 10px;
}

a {
  text-decoration: none;
  color: black;
}

a.active li {
  background-color: #f5424880;
}

.messages {
  margin-top: 2rem;
  margin-left: 2rem;
}
